$defaults: (
  font-family-main: (
    'Source Sans Pro',
    sans-serif,
  ),
  alert: (
    border-radius: 8px,
    close-icon-size: 18px,
    text: (
      font-size: 14px,
      font-weight: 400,
      line-height: 20px,
      font-family: var(--ion-font-family-main),
    ),
    success: (
      background-color: var(--ion-positive-1),
      border-color: var(--ion-positive-6),
      icon-color: var(--ion-positive-6),
      close-icon-color: var(--ion-primary-6),
      text-color: var(--ion-neutral-7),
    ),
    info: (
      background-color: var(--ion-info-1),
      border-color: var(--ion-info-6),
      icon-color: var(--ion-info-6),
      close-icon-color: var(--ion-primary-6),
      text-color: var(--ion-neutral-7),
    ),
    warning: (
      background-color: var(--ion-warning-1),
      border-color: var(--ion-warning-6),
      icon-color: var(--ion-warning-6),
      close-icon-color: var(--ion-primary-6),
      text-color: var(--ion-neutral-7),
    ),
    negative: (
      background-color: var(--ion-negative-1),
      border-color: var(--ion-negative-6),
      icon-color: var(--ion-negative-6),
      close-icon-color: var(--ion-primary-6),
      text-color: var(--ion-neutral-7),
    ),
    with-description: (
      background-color: var(--ion-neutral-2),
      text-color: var(--ion-neutral-7),
    ),
  ),
  button: (
    border-radius: 8px,
    text: (
      font-weight: 600,
      font-family: var(--ion-font-family-main),
    ),
    size: (
      sm: (
        size: 24px,
        padding: (
          4px 12px,
        ),
        border-radius: 6px,
        spinner-size: 10px,
        text: (
          font-size: 12px,
          line-height: 16px,
        ),
      ),
      md: (
        size: 32px,
        padding: (
          6px 16px,
        ),
        border-radius: 8px,
        spinner-size: 16px,
        text: (
          font-size: 14px,
          line-height: 20px,
        ),
      ),
      lg: (
        size: 40px,
        padding: (
          8px 20px,
        ),
        border-radius: 10px,
        spinner-size: 16px,
        text: (
          font-size: 16px,
          line-height: 24px,
        ),
      ),
      xl: (
        size: 48px,
        padding: (
          12px 24px,
        ),
        border-radius: 10px,
        spinner-size: 16px,
        text: (
          font-size: 16px,
          line-height: 24px,
        ),
      ),
    ),
    primary: (
      background-color: var(--ion-primary-6),
      text-color: var(--ion-neutral-1),
      border: 0,
      spinner-color: var(--ion-neutral-1),
      icon-color: var(--ion-neutral-1),
      hover: (
        background-color: var(--ion-primary-5),
        text-color: var(--ion-neutral-1),
        border: 0,
        spinner-color: var(--ion-neutral-1),
        icon-color: var(--ion-neutral-1),
      ),
      active: (
        background-color: var(--ion-primary-7),
        text-color: var(--ion-neutral-1),
        border: 0,
        spinner-color: var(--ion-neutral-1),
        icon-color: var(--ion-neutral-1),
      ),
      disabled: (
        background-color: var(--ion-neutral-3),
        text-color: var(--ion-neutral-5),
        border: 0,
        spinner-color: var(--ion-neutral-5),
        icon-color: var(--ion-neutral-5),
      ),
    ),
    secondary: (
      background-color: var(--ion-neutral-1),
      text-color: var(--ion-primary-6),
      border: 1px solid var(--ion-neutral-4),
      spinner-color: var(--ion-primary-6),
      icon-color: var(--ion-primary-6),
      hover: (
        background-color: var(--ion-primary-1),
        text-color: var(--ion-primary-5),
        border: 1px solid var(--ion-primary-4),
        spinner-color: var(--ion-neutral-5),
        icon-color: var(--ion-primary-5),
      ),
      active: (
        background-color: var(--ion-primary-2),
        text-color: var(--ion-primary-7),
        border: 1px solid var(--ion-primary-5),
        spinner-color: var(--ion-neutral-7),
        icon-color: var(--ion-primary-7),
      ),
      disabled: (
        background-color: var(--ion-neutral-3),
        text-color: var(--ion-neutral-5),
        border: 1px solid var(--ion-neutral-5),
        spinner-color: var(--ion-neutral-5),
        icon-color: var(--ion-neutral-5),
      ),
    ),
    ghost: (
      background-color: transparent,
      text-color: var(--ion-primary-6),
      border: 0,
      spinner-color: var(--ion-primary-6),
      icon-color: var(--ion-primary-6),
      hover: (
        background-color: var(--ion-primary-1),
        text-color: var(--ion-primary-5),
        border: 0,
        spinner-color: var(--ion-primary-5),
        icon-color: var(--ion-primary-5),
      ),
      active: (
        background-color: var(--ion-primary-2),
        text-color: var(--ion-primary-7),
        border: 0,
        spinner-color: var(--ion-neutral-7),
        icon-color: var(--ion-primary-7),
      ),
      disabled: (
        background-color: transparent,
        text-color: var(--ion-neutral-5),
        border: 0,
        spinner-color: var(--ion-neutral-5),
        icon-color: var(--ion-neutral-5),
      ),
    ),
    dashed: (
      background-color: transparent,
      text-color: var(--ion-primary-6),
      border: 1px dashed var(--ion-neutral-4),
      spinner-color: var(--ion-primary-6),
      icon-color: var(--ion-primary-6),
      hover: (
        background-color: var(--ion-primary-1),
        text-color: var(--ion-primary-5),
        border: 1px dashed var(--ion-neutral-4),
        spinner-color: var(--ion-primary-5),
        icon-color: var(--ion-primary-5),
      ),
      active: (
        background-color: var(--ion-primary-2),
        text-color: var(--ion-primary-7),
        border: 1px dashed var(--ion-primary-5),
        spinner-color: var(--ion-neutral-7),
        icon-color: var(--ion-primary-7),
      ),
      disabled: (
        background-color: var(--ion-primary-3),
        text-color: var(--ion-neutral-5),
        border: 1px dashed var(--ion-neutral-5),
        spinner-color: var(--ion-neutral-5),
        icon-color: var(--ion-neutral-5),
      ),
    ),
  ),
);
