$light-theme: (
  base: white,
  primary-1: #ebf3fe,
  primary-2: #b5d2fc,
  primary-3: #84b4fa,
  primary-4: #5396f8,
  primary-5: #146ff5,
  primary-6: #0858ce,
  primary-7: #06439d,
  primary-8: #042a62,
  neutral-1: #fcfcfd,
  neutral-2: #f2f3f5,
  neutral-3: #e4e6eb,
  neutral-4: #ced2db,
  neutral-5: #aeb2bd,
  neutral-6: #8d93a5,
  neutral-7: #505566,
  neutral-8: #282b33,
  positive-1: #e7f9f1,
  positive-2: #cbf0e1,
  positive-3: #9ce3c5,
  positive-4: #60d2a3,
  positive-5: #35bb83,
  positive-6: #2d9f70,
  positive-7: #227754,
  positive-8: #19583d,
  negative-1: #faeaec,
  negative-2: #f7d4d8,
  negative-3: #efa9b0,
  negative-4: #e77e89,
  negative-5: #de5462,
  negative-6: #d6293a,
  negative-7: #ab212f,
  negative-8: #8d1b26,
  warning-1: #fff5e0,
  warning-2: #feedcd,
  warning-3: #fcdb9c,
  warning-4: #fbc86a,
  warning-5: #faba42,
  warning-6: #f9a915,
  warning-7: #e09306,
  warning-8: #b87905,
  info-1: #e2f9fd,
  info-2: #cff6fc,
  info-3: #9eeefa,
  info-4: #55e1f6,
  info-5: #0ccbe9,
  info-6: #0bb2cb,
  info-7: #0994aa,
  info-8: #077283,
);
