$orange-dark-theme: (
  base: black,
  primary-1: #2a130b,
  primary-2: #441d11,
  primary-3: #6c2d19,
  primary-4: #944026,
  primary-5: #b54e2f,
  primary-6: #fe5513,
  primary-7: #ff7a47,
  primary-8: #ffb79a,
  neutral-1: #1b1c20,
  neutral-2: #26282d,
  neutral-3: #3b3d43,
  neutral-4: #52555d,
  neutral-5: #72757f,
  neutral-6: #9c9fa9,
  neutral-7: #c4c7d2,
  neutral-8: #e9eaf0,
  positive-1: #11312a,
  positive-2: #1d463c,
  positive-3: #296855,
  positive-4: #388b6e,
  positive-5: #4baf86,
  positive-6: #5bcf9f,
  positive-7: #80e5b6,
  positive-8: #b0f5d4,
  negative-1: #3d1a1c,
  negative-2: #552425,
  negative-3: #8c3538,
  negative-4: #b6474b,
  negative-5: #e25c5e,
  negative-6: #f57b7d,
  negative-7: #f9a0a2,
  negative-8: #fbc7c8,
  warning-1: #3e3120,
  warning-2: #573e24,
  warning-3: #876033,
  warning-4: #b98346,
  warning-5: #e0a55a,
  warning-6: #f4c274,
  warning-7: #f6db9a,
  warning-8: #f9f0c3,
  info-1: #0a1e23,
  info-2: #102f34,
  info-3: #1c5b60,
  info-4: #287d88,
  info-5: #36a2b3,
  info-6: #53c9d6,
  info-7: #82e0ea,
  info-8: #b5f4f8,
);
