$dark-theme: (
  base: #141414,
  primary-1: #e8f2ff,
  primary-2: #d5e7ff,
  primary-3: #b3d1ff,
  primary-4: #5681ff,
  primary-5: #2f53ff,
  primary-6: #1d2cde,
  primary-7: #0616cd,
  primary-8: #0a115c,
  neutral-1: #fcfcfd,
  neutral-2: #ced2db,
  neutral-3: #8d93a5,
  neutral-4: #383838,
  neutral-5: #2e2e2e,
  neutral-6: #222222,
  neutral-7: #1e1e1e,
  neutral-8: #121212,
  positive-1: #e7f9f1,
  positive-2: #b5eec8,
  positive-3: #83e7a4,
  positive-4: #38dd6f,
  positive-5: #0dca4b,
  positive-6: #00ac39,
  positive-7: #007f2a,
  positive-8: #004528,
  negative-1: #faeaec,
  negative-2: #f7d4d8,
  negative-3: #efa9b0,
  negative-4: #e77e89,
  negative-5: #de5462,
  negative-6: #d6293a,
  negative-7: #ab212f,
  negative-8: #8d1b26,
  warning-1: #fff5e0,
  warning-2: #feedcd,
  warning-3: #fcdb9c,
  warning-4: #fbc86a,
  warning-5: #faba42,
  warning-6: #f9a915,
  warning-7: #e09306,
  warning-8: #b87905,
  info-1: #e2f9fd,
  info-2: #cff6fc,
  info-3: #9eeefa,
  info-4: #55e1f6,
  info-5: #0ccbe9,
  info-6: #0bb2cb,
  info-7: #0994aa,
  info-8: #077283,
);
