@import '../colors/colors.scss';

// TODO - Remover esses abaixo, pois não são mais necessários
// Colors
$primary-color: $primary-6;
$secondary-color: $primary-1;
$neutral-color: $neutral-7;
$success-color: $positive-6;
$negative-color: $negative-6;
$warning-color: $warning-6;
$info-color: $info-6;

html, body {
  font-family: 'Source Sans Pro';
}

// Spacing

// Get the base spacing value.
// @access public
// @param {number} $level - Level of spacing.
// @return {string} - Spacing value.
// @example margin: spacing(1); // margin: '8px';
@function spacing($level) {
  @return $level * 8px;
}
