@import '../colors/colors.scss';

// Colors
$primary-color: $primary-6;
$neutral-color: $neutral-7;
$success-color: $positive-6;
$negative-color: $negative-6;
$warning-color: $warning-6;
$info-color: $info-6;

* {
  font-family: 'Source Sans Pro', sans-serif;
}
