@use 'sass:map';
@import './themes';

$themes: (
  light: $light-theme,
  dark: $dark-theme,
);

@mixin install-ion-themes() {
  @each $theme, $map in $themes {
    ::ng-deep body[ion-theme='#{$theme}'] {
      @each $var, $value in map-merge($defaults, $map) {
        --#{$var}: #{$value};
      }
    }
  }
}

@function ion-theme($key) {
  @return var(--#{$key});
}
