@use 'sass:map';
@import './themes';

$themes: (
  light: $light-theme,
  dark: $dark-theme,
);

@mixin install-ion-themes() {
  @each $theme, $map in $themes {
    ::ng-deep body[ion-theme='#{$theme}'] {
      @include map-to-css-vars(map-merge($defaults, $map));
    }
  }
}

// Recursively converts a map to CSS variables
@mixin map-to-css-vars($map, $prefix: ()) {
  @each $key, $value in $map {
    $new-prefix: if(length($prefix) > 0, '#{$prefix}-#{$key}', $key);

    @if type-of($value) == 'map' {
      @include map-to-css-vars($value, $new-prefix);
    } @else {
      --#{$new-prefix}: #{$value};
    }
  }
}

@function ion-theme($key) {
  @return var(--#{$key});
}
