@use 'sass:map';
@import './themes';

$themes: (
  light: $light-theme,
  dark: $dark-theme,
);

// Registering the themes
@each $theme, $map in $themes {
  ::ng-deep body[ion-theme='#{$theme}'] {
    @each $key, $value in $map {
      --ion-#{$key}: #{$value};
    }
  }
}

@mixin register-component($component, $theme) {
  @each $themeName, $themeMap in $theme {
    ::ng-deep body[ion-theme='#{$themeName}'] {
      @include map-to-css-vars((#{$component}: $themeMap));
    }
  }
}

// Recursively converts a map to CSS variables
@mixin map-to-css-vars($map, $prefix: ()) {
  @each $key, $value in $map {
    $new-prefix: if(length($prefix) > 0, '#{$prefix}-#{$key}', $key);

    @if type-of($value) == 'map' {
      @include map-to-css-vars($value, $new-prefix);
    } @else {
      --ion-#{$new-prefix}: #{$value};
    }
  }
}

@function ion-theme($key) {
  @return var(--ion-#{$key});
}
