@import '../themes/index.scss';

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url(./styles/fonts/regular/SourceSansPro-Regular.eot);
  src:
       url(./styles/fonts/regular/SourceSansPro-Regular.eot?#iefix) format('embedded-opentype'),
       url(./styles/fonts/regular/SourceSansPro-Regular.woff2) format('woff2'),
       url(./styles/fonts/regular/SourceSansPro-Regular.woff) format('woff'),
       url(./styles/fonts/regular/SourceSansPro-Regular.ttf) format('truetype'),
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url(./styles/fonts/SourceSansPro-Semibold.eot);
  src:
       url(./styles/fonts/semibold/SourceSansPro-Semibold.eot?#iefix) format('embedded-opentype'),
       url(./styles/fonts/semibold/SourceSansPro-Semibold.woff2) format('woff2'),
       url(./styles/fonts/semibold/SourceSansPro-Semibold.woff) format('woff'),
       url(./styles/fonts/semibold/SourceSansPro-Semibold.ttf) format('truetype'),
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url(./styles/fonts/SourceSansPro-Bold.eot);
  src:
       url(./styles/fonts/bold/SourceSansPro-Bold.eot?#iefix) format('embedded-opentype'),
       url(./styles/fonts/bold/SourceSansPro-Bold.woff2) format('woff2'),
       url(./styles/fonts/bold/SourceSansPro-Bold.woff) format('woff'),
       url(./styles/fonts/bold/SourceSansPro-Bold.ttf) format('truetype'),
}

@mixin font-size-xs {
  font-size: 12px;
  line-height: 16px;
}

@mixin font-size-sm {
  font-size: 14px;
  line-height: 20px;
}

@mixin font-size-md {
  font-size: 16px;
  line-height: 24px;
}

@mixin font-size-lg {
  font-size: 20px;
  line-height: 28px;
}

@mixin font-size-xl {
  font-size: 24px;
  line-height: 32px;
}

@mixin font-size-2xl {
  font-size: 32px;
  line-height: 40px;
}

@mixin font-size-3xl {
  font-size: 40px;
  line-height: 48px;
}
