@import '../themes/index.scss';

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 400;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v21/6xK3dSBYKcSV-LCoeQqfX1RYOo3qOK7l.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 700;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3ig4vwlxdu.woff2') format('woff2');
}

@font-face {
  font-family: 'Source Sans Pro';
  font-style: normal;
  font-weight: 600;
  src: url('https://fonts.gstatic.com/s/sourcesanspro/v21/6xKydSBYKcSV-LCoeQqfX1RYOo3i54rwlxdu.woff2') format('woff2');
}

@mixin font-size-xs {
  font-size: 12px;
  line-height: 16px;
}

@mixin font-size-sm {
  font-size: 14px;
  line-height: 20px;
}

@mixin font-size-md {
  font-size: 16px;
  line-height: 24px;
}

@mixin font-size-lg {
  font-size: 20px;
  line-height: 28px;
}

@mixin font-size-xl {
  font-size: 24px;
  line-height: 32px;
}

@mixin font-size-2xl {
  font-size: 32px;
  line-height: 40px;
}

@mixin font-size-3xl {
  font-size: 40px;
  line-height: 48px;
}
