{
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@angular-eslint/recommended",
    "plugin:prettier/recommended",
    "plugin:css/recommended"
  ],
  "plugins": ["css"],
  "env": {
    "es2021": true,
    "browser": true
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": "error",
    "@typescript-eslint/explicit-function-return-type": "warn",
    "@typescript-eslint/member-ordering": [
      "warn",
      {
        "default": {
          "memberTypes": [
            "public-decorated-field",
            "protected-decorated-field",
            "private-decorated-field",
            "public-static-field",
            "protected-static-field",
            "private-static-field",
            "public-instance-field",
            "public-abstract-field",
            "protected-instance-field",
            "protected-abstract-field",
            "private-instance-field",
            "private-abstract-field",
            "static-field",
            "public-field",
            "instance-field",
            "protected-field",
            "private-field",
            "abstract-field",
            "constructor",
            "public-static-method",
            "protected-static-method",
            "private-static-method",
            "public-method",
            "protected-method",
            "private-method"
          ]
        }
      }
    ],
    "no-console": 1
  },
  "ignorePatterns": ["*.js", "*.mdx", "dist/*"]
}
