@import './themes';

$themes: (
  light: $light-theme,
  dark: $dark-theme,
);

@mixin ion-install-all-themes() {
  @each $theme, $map in $themes {
    ::ng-deep body[ion-theme='#{$theme}'] {
      @each $var, $value in $map {
        --#{$var}: #{$value};
      }
    }
  }
}

@function themeValue($key) {
  @return var(--#{$key});
}
