$dark-theme: (
  // Primary colors
  primary-1: #042a62,
  primary-2: #06439d,
  primary-3: #0858ce,
  primary-4: #146ff5,
  primary-5: #5396f8,
  primary-6: #84b4fa,
  primary-7: #b5d2fc,
  primary-8: #ebf3fe,

  // Neutral colors
  neutral-1: #282b33,
  neutral-2: #505566,
  neutral-3: #8d93a5,
  neutral-4: #aeb2bd,
  neutral-5: #ced2db,
  neutral-6: #e4e6eb,
  neutral-7: #f2f3f5,
  neutral-8: #fcfcfd,

  // Indicative colors
  // Positive
  positive-1: #19583d,
  positive-2: #227754,
  positive-3: #2d9f70,
  positive-4: #35bb83,
  positive-5: #60d2a3,
  positive-6: #9ce3c5,
  positive-7: #cbf0e1,
  positive-8: #e7f9f1,

  // Negative
  negative-1: #8d1b26,
  negative-2: #ab212f,
  negative-3: #d6293a,
  negative-4: #de5462,
  negative-5: #e77e89,
  negative-6: #efa9b0,
  negative-7: #f7d4d8,
  negative-8: #faeaec,

  // Warning
  warning-1: #b87905,
  warning-2: #e09306,
  warning-3: #f9a915,
  warning-4: #faba42,
  warning-5: #fbc86a,
  warning-6: #fcdb9c,
  warning-7: #feedcd,
  warning-8: #fff5e0,

  // Info
  info-1: #077283,
  info-2: #0994aa,
  info-3: #0bb2cb,
  info-4: #0ccbe9,
  info-5: #55e1f6,
  info-6: #9eeefa,
  info-7: #cff6fc,
  info-8: #e2f9fd,

  // Text
  font-primary: 'Source Sans Pro',
  font-size-xs: 12px,
  font-size-sm: 14px,
  font-size-md: 16px,
  font-size-lg: 20px,
  font-size-xl: 24px,
  font-size-2xl: 32px,
  font-size-3xl: 40px,

  line-height-xs: 16px,
  line-height-sm: 20px,
  line-height-md: 24px,
  line-height-lg: 28px,
  line-height-xl: 32px,
  line-height-2xl: 40px,
  line-height-3xl: 48px,

  text-basic-color: white,
  background-basic-color: neutral-8
);
