// Primary colors
$primary-1: #ebf3fe;
$primary-2: #b5d2fc;
$primary-3: #84b4fa;
$primary-4: #5396f8;
$primary-5: #146ff5;
$primary-6: #0858ce;
$primary-7: #06439d;
$primary-8: #042a62;

// Neutral colors
$neutral-1: #fcfcfd;
$neutral-2: #f2f3f5;
$neutral-3: #e4e6eb;
$neutral-4: #ced2db;
$neutral-5: #aeb2bd;
$neutral-6: #8d93a5;
$neutral-7: #505566;
$neutral-8: #282b33;

// Indicative colors
// Positive
$positive-1: #e7f9f1;
$positive-2: #cbf0e1;
$positive-3: #9ce3c5;
$positive-4: #60d2a3;
$positive-5: #35bb83;
$positive-6: #2d9f70;
$positive-7: #227754;
$positive-8: #19583d;

// Negative
$negative-1: #faeaec;
$negative-2: #f7d4d8;
$negative-3: #efa9b0;
$negative-4: #e77e89;
$negative-5: #de5462;
$negative-6: #d6293a;
$negative-7: #ab212f;
$negative-8: #8d1b26;

// Warning
$warning-1: #fff5e0;
$warning-2: #feedcd;
$warning-3: #fcdb9c;
$warning-4: #fbc86a;
$warning-5: #faba42;
$warning-6: #f9a915;
$warning-7: #e09306;
$warning-8: #b87905;

// Info
$info-1: #e2f9fd;
$info-2: #cff6fc;
$info-3: #9eeefa;
$info-4: #55e1f6;
$info-5: #0ccbe9;
$info-6: #0bb2cb;
$info-7: #0994aa;
$info-8: #077283;

// Preset colors
$presets-1: #d96d36;
$presets-2: #d99f2b;
$presets-3: #98b212;
$presets-4: #02c242;
$presets-5: #3dccb4;
$presets-6: #4595e5;
$presets-7: #3956e5;
$presets-8: #9b50e5;
$presets-9: #d94cd9;
$presets-10: #d94c92;

// Transparences
// Black transparence
$black-transparence-90: #000000e5;
$black-transparence-75: #000000bf;
$black-transparence-60: #00000099;
$black-transparence-45: #00000073;
$black-transparence-30: #0000004d;
$black-transparence-15: #00000026;

// White transparence
$white-transparence-90: #ffffffe5;
$white-transparence-75: #ffffffbf;
$white-transparence-60: #ffffff99;
$white-transparence-45: #ffffff73;
$white-transparence-30: #ffffff4d;
$white-transparence-15: #ffffff26;
